



html {
    font-size: 62.5%;
    background-color: azure;
}

body {
    background-color: #dfcece;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-container {
    display: block;
    width: 100vw;
    margin: 0 auto;
}


header {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-bottom: 5px solid #254159;
}

h1 {
    font-size: 2.6rem;
    color: #254159;
    margin-bottom: 10px;
    padding: 0;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 2px;
    padding: 0;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 2px;
    padding: 0;
}

h4 {
    font-size: 1.5rem;
    color: #254159;
    margin-bottom: 2px;
    padding: 0;
}

p {
    margin-bottom: 2px;
    padding: 0;
}

section {
    font-size: 1.5rem; /* equivalenta a 15px */
    width: 100%;
    padding: 0;
    margin-right: 10px;
}

section nav {
    background-color: aliceblue;
    display: block;
    float: left
    width: 30%;  
}

section article {
    display: block;
    float: left
    width: 70%;
}

footer {
    background-color: #254159;
    color: white;
    font-size: 1.5rem;
    float: left;
    width: 100%;
    padding: 20px;
}

ul {
    text-decoration: none;
    margin-left: 2px;
    padding: 20px;
    margin-top: 0;
}

nav li {
    background: #34776c;
    width: 20%;
    display: block;
    font-size: 1.6rem;
    border: outset;
    margin-bottom: 10px;
} 

nav li:hover {
    background-color: darkgray;
}  

nav a {
    text-decoration: none;
    font-size: 1.8rem;
}

a {
    padding: 0;
    color: aliceblue;
}

footer small {
    display: block;
}

.home {
    padding-bottom: 1%;
}

.sobre-nos {
    padding-bottom: 1%;
}

.texto {
    width: 100vw;
}

nav img {
    width: 80%;
}

h1, h2, h3, h4, p{
    margin-left: 20px;
}

.cognito {
    padding-right: 80px;
}

#tenho-interesse {
    background-color: #34776c;
}

.ultimo-paragrafo {
    margin-top: 10px;
    padding-bottom: 20px;
}

h5, h6 {
    color: azure;
    font-size: 1.8rem;
    margin-left: 20px;
    margin-top: 0;
    padding-top: 10px;
}